
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {  
  background-color: #eee;
  color: #111;
}

.draggable-elements {
  display: flex;
  justify-content: center;
  margin: 5px;
}
.draggable {
  height: 60px;
  width: 60px;
  align-items: center;
  display: flex;
  font-size: 4rem;
  margin: 5px 20px 10px 20px;
  background-color: rgb(180, 180, 180);
  text-align: center;
  cursor: move;
  transition: opacity 0.2s;
}
.draggable:hover {
  opacity: 0.5;
}
.droppable {
  height: 40px;
  width: 60px;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #fff;
  border: 3px dashed #111;
  transition: border-width 0.2s, transform 0.2s, background-color 0.4s;
}
.droppable span {
  font-size: 1.25rem;
  pointer-events: none; 
}

.droppable.droppable-hover {
  /* background-color: #bee3f0; */
  border-width: 5px;
  transform: scale(1.1);
}
.droppable.dropped {
  border-style: solid;
  color: #fff;
  text-align: center;
}
.droppable.dropped span {
  font-size: 0.75rem;
  margin-top: 0.5rem;
}
.droppable.dropped i {
  pointer-events: none;
}
.draggable.dragged {
  user-select: none;
  opacity: 0.1;
  cursor: default;
}
.draggable.dragged:hover {
  opacity: 0.1;
}

#play-again-btn {
    position: absolute;
    top: -0.5rem;
    left: 50%;
    margin-left: -50px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #111;
    border: 5px double #fff; 
    border-radius: 14px;
    padding: 8px 10px;  
    outline: none;
    letter-spacing: .05em;
    cursor: pointer;
    display: none;
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s, background-color 0.2s;
  }
  #play-again-btn:hover {
    background-color: #333;
  }
  #play-again-btn:active {
    background-color: #555;
  }
  #play-again-btn.play-again-btn-entrance {
    opacity: 1;
    transform: translateX(6rem);
  }
  .score {
    font-family: monospace;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    margin: 1rem;
    position: relative;
    transition: opacity 0.2s;
  }
@media (max-width: 600px) {
  html { font-size: 14px; }
  .draggable-elements { margin: 1.5rem; }
}