main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    margin: auto;
}
a:link, a:visited   {
    text-decoration: none;
}
h1 {
    text-align: left;
    color: white; 
    text-align: center;
    margin-left: 17%;
    margin-right: 17%;
    font-size: 40px;
      
}

h2{
    background-color: #A7CAB1;
    text-align: center;
}

h3{
    background-color: #F4ECD6;
    text-align: center;
    margin: 0px 0px 0px 0px;
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: right;
    color: #fff;
    background-color:   #310A31;
    padding-right: 30px;
    margin-top: 13px;
    }

p {
    background-color:#88B7B5;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    text-align: justify;
    }

.menu{         
    display: block;
    margin-bottom: 5px;
    background-color: #847996;
    overflow: hidden;
    font-weight: bold;
    font-size: large;
    text-align: center;
    } 

.menu a {
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

.menu a:hover {
    background-color: #6d598d;
    color: black;
    }

a#active {
    background-color: #847996;
    color: black;
}
.grid {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;    
}
@media only screen and (max-width: 800px) {
    main {
        display: block;
        }
}    
@media screen and (max-width: 400px) {
    main{
        display:block;
    }
    section{
        display:block;
    }
    article{
        display:block;
    }
}
