main {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    margin: auto;
    background-color: #847996;
}
a:link, a:visited   {
    text-decoration: none;
}
h1 {
    text-align: left;
    color: white; 
    text-align: center;
    margin-left: 17%;
    margin-right: 17%;
    font-size: 40px;
      
}
p {
    background-color:#A7CAB1;
    padding: 10px 10px 10px 10px;
    margin-bottom: 5px;
    text-align: justify;
    }

.start{
    background-color: #88B7B5;
    color:black;
    text-align: center;
    font-size: 40px;
    padding: 10px;        
}

h2{
    background-color: #A7CAB1;
    text-align: center;
    margin-top: 0%;
}
.rules{
    background-color: #A7CAB1;
    text-align: center;
    margin: 0%;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    text-align: right;
    color: #fff;
    background-color:   #310A31;
    padding-right: 30px;
    margin-top: 13px;
    }

.menu{         
    display: block;
    margin-bottom: 5px;
    background-color: #4e2b88;
    overflow: hidden;
    font-weight: bold;
    font-size: large;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    } 

.menu a {
    float: left;
    color: #070707;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

.menu a:hover {
    background-color: #6d598d;
    color: black;
    }

a#active {
    background-color: #847996;
    color: black;
}

.zpet{
    
    background-color: #665188;
    color:black;
    text-align: center;
    font-size: 25px;
   
}


#container {
    display:inline;
    float:left;
    width: 49%; 
    height: 600px;
    background-color: #333;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 5px;
    border-radius: 7px;
    touch-action: none;
  }

 .item {
    border-radius: 2%;
    touch-action: none;
    user-select: none;
    position: relative;
  }


  .item:active {
    opacity: .75;
  }

  .item:hover {
    cursor: pointer;
  }

 
@media only screen and (max-width: 800px) {
    main {
        display: block;
        }
}    
@media screen and (max-width: 400px) {
    main{
        display:block;
    }
    section{
        display:block;
    }
    article{
        display:block;
    }
}
